src/recognition/wsdl/device.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tds="http://www.onvif.org/ver10/device/wsdl"
    xmlns:tt="http://www.onvif.org/ver10/schema"
    targetNamespace="http://www.onvif.org/ver10/device/wsdl">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.onvif.org/ver10/device/wsdl" 
            xmlns:tt="http://www.onvif.org/ver10/schema" 
            xmlns:tds="http://www.onvif.org/ver10/device/wsdl"
            elementFormDefault="qualified">
            <xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="onvif.xsd"/>

            <!-- GetDeviceInformation -->
            <xs:element name="GetDeviceInformation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDeviceInformationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Manufacturer" type="xs:string"/>
                        <xs:element name="Model" type="xs:string"/>
                        <xs:element name="FirmwareVersion" type="xs:string"/>
                        <xs:element name="SerialNumber" type="xs:string"/>
                        <xs:element name="HardwareId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- GetCapabilities -->
            <xs:element name="GetCapabilities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Category" type="tt:CapabilityCategory" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCapabilitiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Capabilities" type="tt:Capabilities"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="GetDeviceInformationRequest">
        <wsdl:part name="parameters" element="tds:GetDeviceInformation"/>
    </wsdl:message>
    <wsdl:message name="GetDeviceInformationResponse">
        <wsdl:part name="parameters" element="tds:GetDeviceInformationResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCapabilitiesRequest">
        <wsdl:part name="parameters" element="tds:GetCapabilities"/>
    </wsdl:message>
    <wsdl:message name="GetCapabilitiesResponse">
        <wsdl:part name="parameters" element="tds:GetCapabilitiesResponse"/>
    </wsdl:message>

    <!-- Port Types -->
    <wsdl:portType name="Device">
        <wsdl:operation name="GetDeviceInformation">
            <wsdl:documentation>Get device information.</wsdl:documentation>
            <wsdl:input message="tds:GetDeviceInformationRequest"/>
            <wsdl:output message="tds:GetDeviceInformationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetCapabilities">
            <wsdl:documentation>Get device capabilities.</wsdl:documentation>
            <wsdl:input message="tds:GetCapabilitiesRequest"/>
            <wsdl:output message="tds:GetCapabilitiesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindings -->
    <wsdl:binding name="DeviceBinding" type="tds:Device">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDeviceInformation">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetDeviceInformation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCapabilities">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetCapabilities"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service -->
    <wsdl:service name="DeviceService">
        <wsdl:port name="DevicePort" binding="tds:DeviceBinding">
            <soap:address location="http://www.onvif.org/ver10/device/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
